.infosars-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bt-ops {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: transparent;
  border: 0;
}

.bt-menu {
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-color: transparent;
  border: 0;
}

.boxGear {
  top: 5.8rem;
  right: 2.8rem;
}

.boxMenu {
  top: 5.8rem;
  right: 5.4rem;
}

.boxMenu {
  color: #999;
}

.optionsHomeDesktop {
  display: none;
}

.anc-back {
  position: absolute;
  top: 4.5rem;
  left: 2.5rem;
}

.prevention-box {
  margin-left: 2rem;
  margin-top: 7.3rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
}

 .prevention-box .box-firstLine {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

 .prevention-box .box-firstLine h2 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  width: 100%;
}

 .prevention-box img {
  width: 5rem;
}

 ul {
  margin-left: 1rem;
}

.anc-back {
  position: absolute;
  top: 4.5rem;
  left: 2.5rem;
}

 .symptoms-box {
  margin-left: 2rem;
  margin-top: 2.5rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
}

 .symptoms-box .box-firstLine {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

 .symptoms-box .box-firstLine h2 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  width: 100%;
}

 .symptoms-box img {
  width: 5rem;
}

.logo{
  position: absolute;
  top: 4.5rem;
  left: 2rem;
  color: var(--title-animed);
}

@media (min-width: 900px) {
  .symptoms-box {
    margin-left: 5rem;
    max-width: 70%;
  }
  .prevention-box {
    margin-left: 5rem;
    max-width: 70%;
  }
  .bt-ops {
    position: absolute;
    top: 4rem;
    right: 3rem;
  }
  .bt-menu {
    position: absolute;
    top: 4rem;
    right: 6rem;
  }
  .boxGear {
    top: 6rem;
    right: 5rem;
  }
  .optionsHomeMobile {
    display: none;
  }
  .optionsHomeDesktop {
    display: block;
    top: 4.3rem;
  }
  .optionsHomeDesktop a {
    margin-left: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
  }
  .optionsHomeDesktop .opitonActive {
    font-weight: 700;
   
  }

   .prevention-box {
    max-width: 50%;
  }
   .symptoms-box {
    max-width: 50%;
  }
  .logo{
    left: 5rem;
  }
}