.anc-back {
  position: absolute;
  top: 4rem;
  left: 2.2rem;
}

.recommendationsList-page {
  width: 100%;
  
}


.recommendationsList-page {
  width: 100%;
  margin-top: 1rem;
}

.recommendationsList-page  .rec {
  margin-top: 8.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  background-color: #ebe9e9;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062);
}


.recommendationsList-page .rec a{
  display: flex;
  flex-direction: column-reverse;
 width: 100%;
 height: 100%;
}

.recommendationsList-page  .rec .rec-author{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebe9e9;
  
 
}

.recommendationsList-page  .rec .rec-author img{
  width: 5rem;
}

.recommendationsList-page  .rec .rec-author span{
  font-size: 1.2rem;
  font-family: 'roboto',sans-serif;
  font-weight: 400;
}

.recommendationsList-page  .rec .rec-infos{
  display: flex;
  flex-direction: column;
}
.recommendationsList-page  .rec .rec-infos h3{
  font-size: 1.4rem;
  

}

.recommendationsList-page  .rec .rec-infos span{
  max-width: 18rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.recommendationsList-page .rec-content {
  font-size: 1.2rem;
  margin-left: 2rem;
}

@media (min-width: 900px) {
  .recommendationsList-page .rec-content {
    max-width: 50%;
  }

}

