body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anc-back{
position: absolute;
top: 4rem;
left:1rem;
}

.registerMember-page{
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./public/img/background-landing.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;
}

.registerMember-page .landing{
  max-width: 32rem;
}

.registerMember-page .landing .title{
  margin-top: 5.3rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-strong);
  
}

.registerMember-page .landing .title .brand{
  font-weight: 900;
}

.registerMember-page .landing .subtitle{
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;  
}

.registerMember-page .landing, .main{ 
  margin: 0.8rem;
}

.registerMember-page .main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registerMember-page .main .group{
  display: flex;
  flex-direction: column;
}

.registerMember-page .main .group .group-password input{
  max-width: 20rem;
}

.registerMember-page .main .group input.txt{
  max-width: 30rem;
}

.registerMember-page .main form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerMember-page .main form label{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400; 
  color: #000; 
}

.registerMember-page .main form input{
  border: 0;
}

.registerMember-page .main form input{
  border:0.1rem solid #e4e4e4;
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
  max-width: 30rem;
}

.registerMember-page .main form input[type=text]:focus,
.registerMember-page .main form input[type=email]:focus,
.main form input[type=password]:focus{
  background-color: #fbfbfb;
}

.registerMember-page .main .btn-begin{
  margin-top: 1.1rem;
  background-color: var(--secondary-green);
  color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  width: 14rem;
}

.registerMember-page .main .anc-admin{
  font-size: 0.9rem;
  color: var(--title-animed);
  font-weight: 300;
}

.toRegisterMember{
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 300;  
}

.toRegisterMember a{
  color: var(--primary-green);
}

.group-password {
  display: flex;
  align-items: center;
}

.group-password a{
  margin-left: 1rem;
}

@media (min-width: 1340px) {
  .registerMember-page {
      background-size: 10%;
  }

  .registerMember-page .landing, .main{ 
      margin: 0.7rem;
      margin-left: 3.5rem;
  }
  
  .registerMember-page .main form{
      max-width: 32rem;
  }

  .anc-back{
      position: absolute;
      top: 4rem;
      left:3rem;
  }

  .registerMember-page .main form input[type=text],.main form input[type=password],.main form input[type=email]{
      border:0.1rem solid #e4e4e4;
  }

  .registerMember-page .landing .title{
    margin-top: 0;
    
    
  }

  .registerMember-page .main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .registerMember-page .main form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  
  .registerMember-page .main .group{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
  }

  .registerMember-page .main .group:last-child{
    margin-right: 0;
  }
  .registerMember-page .main .group:first-child{
    margin-right: 5rem;
  }
  
  .registerMember-page .main .group .group-password input{
    max-width: 20rem;
    min-width: 20rem;
  }
  
  .registerMember-page .main .group input.txt{
    max-width: 30rem;
    min-width: 30rem;
  }
}