.anc-back {
  position: absolute;
  top: 4.5rem;
  left: 2.5rem;
}

.selectUser-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin-top: 9.3rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0rem 0.8rem 0.8rem 0rem;
 
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search p {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.search input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.26);
}

table {
  
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.26);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

table img {
  width: 4rem;
  height: 3.5rem;
  border-radius: 50%;
}

table th, table td {
  min-width: 10rem;
}

table .options-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table .options-user svg:first-child {
  margin-top: 0.5rem;
}

table button {
  background-color: transparent;
  border: 0;
}

table .column-user {
  background-color: #fbfbfb;
}

table th {
  border-bottom: 2px solid #000;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

table .id {
  margin-right: 0.5rem;
  min-width: 3rem;
}

table .options {
  min-width: 3rem;
}

.selectUser-page .users {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.selectUser-page .users .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 100%;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.selectUser-page .users .pagination svg {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media(min-width:900px){
  .search {
    width:20rem;
  }
  .search p {
    margin-right: 2rem;
    font-size: 1.2rem;
  }

  
}
